Appendix_Table_plant_Nimg.csv
Appendix_Table_taxa_counts_diptera.csv
Appendix_Table_taxa_counts_hymenoptera.csv
table_taxa_counts_diptera_all_taxa_levels.csv
table_taxa_counts_hymenoptera_all_taxa_levels.csv
.~lock.*.csv#